.container {
    text-align: center;
}

.user_status{
    width: 100px;
    color: #555;
    background-color: #bbb;
    margin: 100px auto 0px;
    padding:10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-radius: 20px;
}

.date {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin: 30px auto 40px;
}

.clock {
    font-size: 64px;
    font-weight: bold;
}

.form__outer {
    margin: 80px auto 0px;
    display: flex;
    gap: 50px;
    justify-content:center;
}

.form__button-black{
    display: block;
    padding: 10px 50px;
    background-color: #000;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border-radius: 15px;
}

.form__button-white{
    display: block;
    padding: 10px 50px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border-radius: 15px;
}

.form__text{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
}