.content__heading{
    height:40px;
    font-size: 24px;
    line-height:36px;
    border-left: solid 8px #000;
    padding-left: 20px;
}


.list__tab-outer {
    margin-top: 50px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #000;
}

.list__tab {
    /* margin-left: 50px; */
    margin: 15px 50px;
}

.bold {
    font-weight: bold;
    color: #000;
}

.list__table {
    width: 100%;
    color: #737373;
    background-color: #FFF;
    margin-top: 30px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

.list__table tr{
    text-align: center;

}

.list__table th {
    text-align: center;
    line-height: 45px;
    border-bottom: 5px #f0eff2 solid;
}

.list__table td {
    text-align: center;
    line-height: 45px;
    border-top: 3px #f0eff2 solid;
    height:50px;
}

.list__label-status{
    width: 15%;
}

.list__label-name {
    width: 20%;
}

.list__label-date {
    width: 15%;
}

.list__label-remark {
    width: 25%;
}

.list__label-detail {
    width: 10%;
}

/* フォーム */
.search-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
}

.search-form__date {
    position: relative;
    padding: 8px 12px;
    min-width: 140px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
}

.search-form__date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.search-form__date::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 12px solid #BEB1A6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__search-btn,
.search-form__reset-btn {
    padding: 12px;
    width: 90px;
}

/* エクスポートボタン */
.export-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.export__btn {
    background-color: #E1DBD6;
    color: #8B7969;
    font-weight: 400;
}
