.content__heading{
    height:40px;
    font-size: 24px;
    line-height:36px;
    border-left: solid 8px #000;
    padding-left: 20px;
}


.list__tab-outer {
    margin-top: 50px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #000;
}

.list__tab {
    /* margin-left: 50px; */
    margin: 15px 50px;
}

.bold {
    font-weight: bold;
    color: #000;
}

.list__table {
    width: 100%;
    color: #737373;
    background-color: #FFF;
    margin-top: 30px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

.list__table tr{
    text-align: center;

}

.list__table th {
    text-align: center;
    line-height: 45px;
    border-bottom: 5px #f0eff2 solid;
}

.list__table td {
    text-align: center;
    line-height: 45px;
    border-top: 3px #f0eff2 solid;
    height:50px;
}

.list__label-status{
    width: 15%;
}

.list__label-name {
    width: 20%;
}

.list__label-date {
    width: 15%;
}

.list__label-remark {
    width: 25%;
}

.list__label-detail {
    width: 10%;
}
